*{
    margin: 0;
    padding: 0;
    font-family:sans-serif;
    color: #ffffff;
    }

        
        
        
        
        
        
        
        
        header{
        width: 100%;
        height:17%;
       background-color: #000000 ;
        padding-left: 8%;
        padding-right: 8%;
        padding-top: 4%;
        box-sizing: border-box;
        background-repeat: no-repeat;
        background-size: auto;
        position: fixed;
        z-index: 2;
        
        background-size: cover;
        }
        
        .navbar{
        height: 17%;
        display: flex;
        align-items: center;
        
        
        
        }
        
        
        
        
        
        
        
        
        

        
        
        
        
        nav{
        flex:1;
        text-align: right;
        transition: transform .2s;
        
        }
        
        
        
        
        
        
        
        nav ul li{
        list-style: none;
        display: inline-block;
        margin-left: 60px;
        }
        nav ul li a {
        text-decoration: none;
        color: aliceblue;
        
        
        font-size: 14px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        
        
        }
        
        .kk{
            color: #fff;
          text-decoration: none;
          letter-spacing: 0.10em;
          
          display: inline-block;
          padding: 15px 20px;
          position: relative;
          transition: transform .2s;
        }
        .kk:hover{
        
            transform: scale(1.5);
        }
        
        .kk::after{
            background: none repeat scroll 0 0 transparent;
            bottom: 0;
            content: "";
            display: block;
            height: 2px;
            left: 50%;
            position: absolute;
            background: #fff;
            transition: width 0.3s ease 0s, left 0.3s ease 0s;
            width: 0;
          border-radius: 50px 50px;
        }
        
        .kk:hover::after{
            width: 100%; 
            left: 0; 
        }
        
        
        .hh{
            color: #fff;
            
            text-decoration: none;
            letter-spacing: 0.10em;
            
            display: inline-block;
            padding: 15px 20px;
            position: relative;
            transition: transform .2s;
        }
        .hh:hover + .list-categories{
            max-height: inherit;
            opacity: 1;
          }
          .list-categories{
            list-style-type: none;
            padding: 0px;
            margin: 0px;
            max-height: 0px;
            opacity: 0;
            overflow: hidden;
            transition: opacity 300ms ease;
          }
        .hh:hover{
        
            transform: scale(1.5);
        }
        .hh::after{
            background: none repeat scroll 0 0 transparent;
            bottom: 0;
            content: "";
            display: block;
            height: 2px;
            left: 50%;
            position: absolute;
            background: #fff;
            transition: width 0.3s ease 0s, left 0.3s ease 0s;
            width: 0;
            border-radius: 50px 50px;
        }
        .hh:hover::after{
            width: 100%; 
            left: 0; 
        }
        .bb{
            color: #fff;
            
            text-decoration: none;
            letter-spacing: 0.10em;
            
            display: inline-block;
            padding: 15px 20px;
            position: relative;
            transition: transform .2s;
        }
        
        .bb:hover{
        
            transform: scale(1.5);
        }
        .bb::after{
            background: none repeat scroll 0 0 transparent;
            bottom: 0;
            content: "";
            display: block;
            height: 2px;
            left: 50%;
            position: absolute;
            background: #fff;
            transition: width 0.3s ease 0s, left 0.3s ease 0s;
            width: 0;
            border-radius: 50px 50px;
        }
        .bb:hover::after{
            width: 100%; 
            left: 0; 
        }
        .dd{
            color: #fff;
            
            text-decoration: none;
            letter-spacing: 0.10em;
            
            display: inline-block;
            padding: 15px 20px;
            position: relative;
            transition: transform .2s;
        }
        
        .dd:hover{
        
            transform: scale(1.5);
        }
        .dd::after{
            background: none repeat scroll 0 0 transparent;
            bottom: 0;
            content: "";
            display: block;
            height: 2px;
            left: 50%;
            position: absolute;
            background: #fff;
            transition: width 0.3s ease 0s, left 0.3s ease 0s;
            width: 0;
          border-radius: 50px 50px;
        }
        .dd:hover::after{
            width: 100%; 
            left: 0; 
        }

        
          body {
            background: #ffffff
          }
          
          svg {
            font-family: 'Russo One', sans-serif;
            position: absolute; 
            width: 100%; height: 100%;
            width: 150px; 
            cursor: pointer;
            margin-left: -80px;
          }
          svg text {
            text-transform: uppercase;
            animation: stroke 5s infinite alternate;
            stroke-width: 2;
            stroke: #f6ac4f;
            font-size: 140px;
            width: 150px; 
            cursor: pointer;
            margin-left: -80px;
          }
          @keyframes stroke {
            0%   {
              fill: rgba(111, 255, 0, 0.516); stroke: rgba(54,95,160,1);
              stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
            }
            70%  {fill: rgba(138, 67, 20, 0); stroke: #f6ac4f; }
            80%  {fill: rgba(111, 255, 0, 0.568); stroke: #f6ac4f; stroke-width: 3; }
            100% {
              fill: #f6ac4f; stroke: #f6ac4f; 
              stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
            }
          }
         


          .wrapper {
            overflow: hidden;
          }
          
          .sliding-background {
            background: url("D:\\projet\\tsawr\\sliding-background-wwfii.jpg")  repeat-x;
            height: 560px;
            width: 5076px;
            animation: slide 60s linear infinite;
          }
          
          @keyframes slide{
            0%{
              transform: translate3d(0, 0, 0);
            }
            100%{
              transform: translate3d(-1692px, 0, 0);
            }
          }
          .uyu{
            background-color:  #f7f5f2;
            width: 350px;
            height: 500px;
            margin-left: 50px;
            margin-top: 100px;
          }
          h1{
            float: inline-start;
            margin-left: 150px;
            margin-top:-10px;
            color: rgb(0, 0, 0);
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            
            
            
            }
            .byu{
                background-color: #f7f5f2;
                width: 350px;
                height: 500px;
                margin-left: 500px;
                margin-top: -500px;
                position: absolute;
              }
              .cyu{
                background-color: #f7f5f2;
                width: 350px;
                height: 500px;
                margin-left: 950px;
                margin-top: -500px;
                position: absolute;
              }
              .yhu{
                width: 350px;
                margin-top: 30px;
              }
              .ybu{
                width: 350px;
                margin-top: 30px;
              }
              .ycu{
                width: 350px;
                margin-top: 30px;
              }
.tt{
font-size: 20px; 
margin-top: 20px; 
margin-left: 40px; 

}
.jj{
    font-size: 20px; 
    margin-top: 20px; 
    margin-left: 40px; 
    
    }
.oo{
        font-size: 20px; 
        margin-top: 20px; 
        margin-left: 40px; 
        
    }
    .pp{
        float: inline-start;
        margin-left: 150px;
        margin-top:-10px;
        color: rgb(0, 0, 0);
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;        font-size: 15px; 
        margin-top: 20px; 
        margin-left: 26px; 
        
    }
.mpo{  float: inline-start;
    margin-left: 150px;
    margin-top:-90px;
    color: rgb(0, 0, 0);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .hok{
        float: inline-start;
        margin-left: 150px;
        margin-top:-10px;
        color: rgb(0, 0, 0);
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;        font-size: 15px; 
        margin-top: 20px; 
        margin-left: 26px; 
        
    }
    .pok{
        float: inline-start;
        margin-left: 150px;
        margin-top:-10px;
        color: rgb(0, 0, 0);
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;        font-size: 15px; 
        margin-top: 20px; 
        margin-left: 26px; 
        
    }
    .hf{
        font-size: 50px; 
        margin-top: 20px; 
        margin-left: 40px; 
        color: #f6ac4f;
        
        }
        .flo{
            float: inline-start;
            margin-left: 150px;
            margin-top:-10px;
color: #f6ac4f;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;            font-size: 15px; 
            margin-top: 45px; 
            margin-left: 20px; 
            
        }
        .hfo{
            font-size: 50px; 
            margin-top: 20px; 
            margin-left: 40px; 
            color: #f6ac4f;
            
            }
            .floo{
                float: inline-start;
                margin-left: 150px;
                margin-top:-10px;
    color: #f6ac4f;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;            font-size: 15px; 
                margin-top: 45px; 
                margin-left: 20px; 
                
            }
            .hfol{
                font-size: 50px; 
                margin-top: 20px; 
                margin-left: 40px; 
                color: #f6ac4f;
                
                }
                .flool{
                    float: inline-start;
                    margin-left: 150px;
                    margin-top:-10px;
        color: #f6ac4f;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;            font-size: 15px; 
                    margin-top: 45px; 
                    margin-left: 20px; 
                    
                }
.button {
                    
                    background-color: #f7f5f2;
                   background-size: cover;
                   border: 1px solid black;
                   
                    color: aliceblue;
                    text-align: center;
                    font-size: 28px;
                    padding: 5px;
                    width: 180px;
                    transition: all 0.5s;
                    cursor: pointer;
                    margin-top: 430px; 
                    margin-left: -270px; 
                    transition: 0.3s;
                    border-color: #f6ac4f ;
                   position: absolute;
                  }
                  
                  .button span {
                    cursor: pointer;
                    display: inline-block;
                    position: relative;
                    transition: 0.5s;
                    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                  }
                  
                  .button span:after {
                    content: '\00bb';
                    position: absolute;
                    opacity: 0;
                    top: 0;
                    right: -20px;
                    transition: 0.5s;
                    
                  }
                  
                  .button:hover span {
                    padding-right: 25px;
                    
                  }
                  
                  .button:hover span:after {
                    opacity: 1;
                    right: 0;
                    
                  }
                  .fg:hover{
                    color: #ffc700;
                    
                  }
                  .fg{
                    font-family: initial;
                    color: rgb(0, 0, 0);
                    
                  }               
                  .mkl{
                    width: 100%;
                    height:150px;
                    background-color: #0c0e0f;
                            }     
                            .der{
                                width: 35px; 
                                cursor: pointer;
                                margin-left: 100px;
                                transition: transform .2s;
                                margin-top: 40px;
                                position: absolute;
                            }
                            .der:hover{
                            
                                transform: scale(1.1);
                            }
                            .mort{
                                margin-top: 45px;
                                margin-left: 150px;
                                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                            font-size: 20px;
                            position: absolute;
                            }
                            .per{
                                width: 60px; 
                                cursor: pointer;
                                margin-left: 480px;
                                transition: transform .2s;
                                margin-top: 40px;
                                position: absolute;
                            }
                            .per:hover{
                            
                                transform: scale(1.1);
                            }
                            .morte{
                                margin-top: 45px;
                                margin-left: 560px;
                                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                            font-size: 20px;
                            position: absolute;
                            }
                            .ser{
                                width: 100px; 
                                cursor: pointer;
                                margin-left: 920px;
                                transition: transform .2s;
                                margin-top: 40px;
                                position: absolute;
                            }
                            .ser:hover{
                            
                                transform: scale(1.1);
                            }
                            .mortee{
                                margin-top: 45px;
                                margin-left: 1040px;
                                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                            font-size: 20px;
                            position: absolute;
                            }
                            .yuyu{
                                height: 1800px;
                            }
                            .myu{
                                width: 100%;
                                height: 400px;
                                background-color: #0c0e0f;
                                        }
                            .gyo{
                                width: 100px; 
                                cursor: pointer;
                                margin-left: 40px;
                                transition: transform .2s;
                                margin-top: 100px;
                                position: absolute;
                            }
                            .gyo:hover{
                            
                                transform: scale(1.1);
                            }
                            
                            .links{
                            margin-left: 750px;
                            color: #ffffff;
                            line-height: 1.6em;
                            margin-top: 150px;
                            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                            }
                            li{
                                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                            }
                            dt{
                            margin-top: 10px;
                              font-size: 25px;
                                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                            }
                            li:hover{
                            cursor: pointer;
                                -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
                              -webkit-mask-size: 200%;
                              animation: shine 2s infinite;
                            }
                            @-webkit-keyframes shine {
                                from {
                                  -webkit-mask-position: 150%;
                                }
                                
                                to {
                                  -webkit-mask-position: -50%;
                                }
                              }
                              dt:hover {
                               cursor: pointer;
                                color: #fff;
                                text-shadow: 0 0 5px #f6ac4f,
                                            0 0 25px #f6ac4f,
                                            0 0 50px #f6ac4f,
                                            0 0 100px #f6ac4f;
                              }
                            
                              .services{
                                margin-left: 1020px;
                                color: #ffffff;
                                line-height: 1.6em;
                                margin-top: -164px;
                                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                                }
                                .footer {
                                    background-color: #0c1315;
                                    color: #fff;
                                    padding: 0.2em;
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: last baseline;
                                    height: 30px;
                                }
                                
                               
                                
                                .footer-title {
                                    color: #ffffff;
                                   margin-top: 100px;
                                   margin-left: 100px;
                                   
                                   
                                }
                                .btnlogin{
                                    width: 100px;
                                    height:30px ;
                                    font-family: initial;
                                    color: rgb(0, 0, 0);
                                    font-size: 17px;
                                    
                                    transition: 0.3s;
                                    }
                                    .btnlogin:hover{
                                    background-color: #000000;
                                      color: rgb(255, 231, 231);
                                      text-decoration: dotted;
                                    
                                    }
                                    .btlogin{
                                        width: 100px;
                                        height:30px ;
                                        font-family: initial;
                                        color: rgb(0, 0, 0);
                                        font-size: 17px;
                                        opacity: 80%;
                                        transition: 0.3s;
                                        }
                                        .btlogin:hover{
                                        background-color: #000000;
                                          color: rgb(115, 255, 0);
                                          text-decoration: dotted;
                                        
                                        }                               
                                        .mpo{
                                            transition: 0.3s; }
                                        .mpo:hover{

                                      color: rgb(245, 204, 0);
                                      text-decoration: dotted;

                                        }


                                        .button span {
                                            cursor: pointer;
                                            display: inline-block;
                                            position: relative;
                                            transition: 0.5s;
                                            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                                          }
                                          
                                          .button span:after {
                                            content: '\00bb';
                                            position: absolute;
                                            opacity: 0;
                                            top: 0;
                                            right: -20px;
                                            transition: 0.5s;
                                            
                                          }
                                          
                                          .button:hover span {
                                            padding-right: 25px;
                                            
                                          }
                                          
                                          .button:hover span:after {
                                            opacity: 1;
                                            right: 0;
                                            
                                          }
                                          .imo:hover{
                                            color: #00ff26;
                                            cursor: pointer;
                                            
                                          }
                                          .imo{
                                            font-family: initial;
                                            color: rgb(0, 0, 0);
                                            
                                          }   
                                          @media screen and (max-device-width: 480px) 
                                          and (orientation: portrait) {
                                          .mkl {
                                              width: 200px;
                                              height: 200px;
                                              
                                              color: #fff;
                                          }
                                      }